include README.md
include LICENSE
include .pre-commit-config.yaml

recursive-include src/robot *.py
recursive-include frontend/dist *
recursive-include frontend/public *
recursive-include frontend/src * 