# Core dependencies
adafruit-circuitpython-pca9685
adafruit-circuitpython-servokit
RPi.GPIO
flask
Werkzeug
Jinja2
itsdangerous
MarkupSafe
Adafruit-PCA9685
setuptools
smbus2
pybluez

# Development dependencies
pytest
pytest-cov
black
flake8
mypy
isort
pre-commit 